:root {
	--bg-dark-purple: #a979d9;
	--bg-dark-pink: #d991d4;
	--bg-light-purple: #ecd8f2;
	--bg-white: #f2f0f2;

	--text-white: var(--bg-white);
	--text-black: #230c33;
	--text-purple: var(--bg-dark-pink);
	--text-dark-purple: #9a80bf;
}

html,
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "EB Garamond", serif;
}

body {
	/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');  */
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "EB Garamond", serif;
	background-color: var(--bg-dark-purple);
	/* background-color: var(--bg-white); */
}

#root {
	padding: 0;
	margin: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	/* box-sizing: border-box; */
}

.expandedRecipe {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: span 4;

	filter: blur(0);
}

.expandedRecipe .favoriteRecipeIcon {
	top: 0;
	background-position: center;
	border-bottom-left-radius: 50%;
}

@media (min-width: 500px) {
	.expandedRecipe {
		grid-row-end: span 3;
	}
}

@media (min-width: 900px) {
	.expandedRecipe {
		grid-row-end: span 3;
	}
}
